{% extends 'base.html' %}

{% block title %}Руководство компании{% endblock %}

{% block content %}
<p>Руководство McDonald’s строится по классической корпоративной структуре с разделением на стратегический и операционный уровни.</p>
<p>
    Во главе компании стоит генеральный директор — Крис Кемпчински, который отвечает за глобальную стратегию, развитие бренда и
    ключевые решения. Под его руководством работают топ-менеджеры, отвечающие за финансы, маркетинг, технологии и развитие сети.
</p>

<img class="photo" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Chris_Kempczinski%2C_McDonald%E2%80%99s_President_and_CEO.jpg" />

<p>Важную роль играет совет директоров, который контролирует деятельность компании, определяет долгосрочные цели и следит за эффективностью управления.</p>
<p>
    McDonald’s управляет бизнесом через региональные подразделения (США, Европа, Азия и др.), что позволяет адаптировать меню и стратегию под локальные рынки,
    сохраняя при этом единые стандарты качества и обслуживания по всему миру.
</p>

{% endblock %}