{% extends 'base.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
<p>
    McDonald’s запускает новые напитки и обновляет меню
    В 2026 году McDonald’s активно обновляет своё меню и делает ставку на напитки. Компания представила новую линейку из шести напитков — фруктовые refreshers и «крафтовые» газировки с необычными вкусами и добавками. Новинки появятся в ресторанах с мая и ориентированы на молодую аудиторию и тренд на яркие, кастомные напитки.

    Параллельно сеть продолжает расширять меню в разных странах: появляются новые бургеры, десерты и сезонные позиции, а также делается акцент на более разнообразный и современный ассортимент.
</p>


{% endblock %}